<meta http-equiv="refresh" content="3;url=/categories" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>

<h1>Correct <br> <br> <%= @selected_answer %> was the one!</h1>





</center>
